.hero {

    width: 100%;
    height: calc(100vh - 100px);

    .mainContent {
        width: 900px;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2{
            width: 100%;
            font-size: 65px;
            font-family: LuckiestGuy;
            text-align: center;
            white-space: nowrap;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
        }
        p{
            width: 100%;
            font-size: 20px;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
        }
        .contetTitle {
            border: 5px solid aqua;
            width: 400px;
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg)
        }
    }

    .animation {
        background-color: aqua;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .grayArea {
            width: 0px;
            height: 0px;
            z-index: 1;
            background-color: #161616;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            opacity: 0;
            font-size: 80px;
            color: aliceblue;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: 0 0;
        }
    }
}