.header {
    background-color: transparent;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        h2{
            color: white;
        }
    }
    nav {
        width: 40%;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: white;
                    
                }
            }
        }
    }
}